In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("/home/ham/repos/minimo_mlops/assets/MiBolsillo.csv", sep=";", encoding="latin1")

In [35]:
df.head()

,id,safra_abertura,cidade,estado,idade,sexo,limite_total,limite_disp,data,valor,grupo_estabelecimento,cidade_estabelecimento,pais_estabelecimento
0,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5605,4.12.2019,31,SERVIO,SAO PAULO,BR
1,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5343,9.11.2019,"150,01",FARMACIAS,SANTOS,BR
2,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2829,6.05.2019,50,SERVIO,SAO PAULO,BR
3,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2547,1.06.2019,"54,4",M.O.T.O.,OSASCO,BR
4,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2515,1.06.2019,"32,79",M.O.T.O.,OSASCO,BR

In [36]:
df["grupo_estabelecimento"].value_counts()

grupo_estabelecimento
SERVIO           1782
RESTAURANTE        872
VAREJO             599
SUPERMERCADOS      468
VESTUARIO          236
FARMACIAS          222
POSTO DE GAS       199
M.O.T.O.           191
ARTIGOS ELETRO     129
LOJA DE DEPART      80
CIA AEREAS          38
HOTEIS              24
SEM RAMO            20
HOSP E CLINICA      18
MAT CONSTRUCAO      15
MOVEIS E DECOR      15
AUTO PEAS          14
AGENCIA DE TUR      12
TRANS FINANC        10
JOALHERIA            6
INEXISTENTE          4
ALUG DE CARROS       1
Name: count, dtype: int64

In [37]:
df['is_vital'] = df['grupo_estabelecimento'].apply(lambda x: 1 if x in ['SERVIO', 'SUPERMERCADOS', 'FARMACIAS', 'HOSP E CLINICA', 'TRANS FINANC'] else 0)

In [38]:
df['is_vital'].value_counts()

is_vital
1    2500
0    2455
Name: count, dtype: int64

In [50]:
df['data'] = pd.to_datetime(df['data'], format='%d.%m.%Y')

In [40]:
df['limit_disp_percentage'] = (df['limite_disp']*100) / df['limite_total']
df['limit_disp_percentage'] = df['limit_disp_percentage'].round().astype(int)

In [45]:
df['is_revenge_spending'] = df.apply(lambda row: 1 if row['limit_disp_percentage'] < 20 and row['is_vital'] == 0 else 0, axis=1)

In [51]:
df.head()

,id,safra_abertura,cidade,estado,idade,sexo,limite_total,limite_disp,data,valor,grupo_estabelecimento,cidade_estabelecimento,pais_estabelecimento,is_vital,limit_disp_percentage,is_revenge_spending
0,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5605,2019-12-04,31,SERVIO,SAO PAULO,BR,1,119,0
1,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5343,2019-11-09,"150,01",FARMACIAS,SANTOS,BR,1,114,0
2,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2829,2019-05-06,50,SERVIO,SAO PAULO,BR,1,60,0
3,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2547,2019-06-01,"54,4",M.O.T.O.,OSASCO,BR,0,54,0
4,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2515,2019-06-01,"32,79",M.O.T.O.,OSASCO,BR,0,54,0

In [47]:
df['is_revenge_spending'].value_counts()

is_revenge_spending
0    4490
1     465
Name: count, dtype: int64

In [48]:
df.to_csv("master_table.csv", index=False, sep=";", encoding="latin1")